body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.home {
  padding: 20px;
  min-height: calc(100vh - 40px);
  background-color: #2a2a2a;
  text-align: center;

  nav {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      font-weight: bold;
      font-size: 20px;
      width: 100%;
      max-width: 480px;
      margin: 0 auto 5px;
      border: dashed 1px #999;
      border-radius: 5px;
      box-sizing: border-box;
    }

    a {
      padding: 16px 0;
      color: #fff;
      display: block;
      width: 100%;
      text-decoration: none;
    }
  }

  .title {
    margin-right: 10px;
  }

  .env-item {
    font-weight: normal;
    font-size: 12px;
    padding: 0 5px;
    margin: 0 2px;
    background: rgb(38, 165, 70);
    border-radius: 4px;
    vertical-align: middle;
  }

  footer {
    width: 100%;
    font-size: 14px;
    margin-top: 20px;

    .icons {
      margin-bottom: 5px;
    }

    .f1 a {
      font-size: 14px;
      background-color: #4a4a4a;
      padding: 0 5px;
      color: #f3f3f3;
      border-radius: 4px;
      text-decoration: none;
      box-shadow: 0 0 0 1px #000;
    }
  }
}

.tip {
  text-align: left;
  display: inline-block;
  font-size: 12px;
  margin-top: 10px;

  .item {
    margin: 2px 0;
    text-align: center;
    margin-right: 5px;
    background-color: #000;
    padding-right: 4px;
    color: #999;
    border-radius: 4px;
  }

  .item span {
    background-color: rgb(38, 165, 70);
    padding: 0 4px;
    margin-right: 4px;
    color: #fff;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
  }
}

/* game-of-life-page */
.game-of-life-page {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  flex-direction: column;

  .op {
    margin-top: 10px;

    button {
      width: 40px;
      height: 30px;
      background: #eee;
      box-shadow: none;
      border: none;
      border-radius: 5px;
      outline: none;
      margin: 0 5px;
    }
  }
}

pre#game-of-life {
  line-height: 8px;
  margin: 0;
  padding: 0;
}